.main h2{
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.main .end{
	border-radius:10px;
	bottom:0;
	background-color: #FF4081;
	position: absolute;
	text-align: center;
	padding:10px;
	font-size: 20px;
	left:47.5%;
	color: #fff;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  color:black;
}
body p{
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 400;
    
}
.cntl {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.cntl-center {
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.cntl-bar {
	position: absolute;
	width: 10px;
	top: 0;
	bottom: 0;
	background-color: #ccc;
	box-shadow: inset 0px 0px 7px -2px #000;
}


.cntl-bar-fill {
	background-color: #009ABB;
	position: absolute;
	left:0;
	right:0;
	top:0;
	height:0;

}

.cntl-state {
	position: relative;
	width:100%;
	min-height: 200px;
	margin-bottom: 50px;
}

.cntl-state::after {
	display:block;
	content: ' ';
	clear:both;
}

.cntl-icon {
	border-radius:10px;
	width: 100px;
	height: auto;
	background-color: #FF4081;
	box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 10px;
	text-align: center;
	padding:10px;
	font-size: 20px;
	color: #fff;
}
.cntl-content::after{
	    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #ae5597;
}
.cntl-content {
	width: 40%;
	padding: 2%;
	background:   #902974;
	border-radius: 8px;
	border-bottom: solid 3px #009ABB;
	float:left;
	opacity:0;
	position:relative;
	margin-left:-40%;
	border-radius: 4px;
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
	color:white;
}

.cntl-state:nth-child(2n+2) .cntl-content::after{
	content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0px;
    border-color: transparent #ae5597 transparent transparent;
}
.cntl-state:nth-child(2n+2) .cntl-content {
	float:right;
	margin-right:-40%;
	
}

.cntl-image {
	opacity:0;
	width: 40%;
	padding: 2%;
}

.cntl-state:nth-child(2n+1) .cntl-image {
	float:right;
}

.cntl-image img {
	width:100%;
}

.cntl-content h4 {
	font-size:20px;
	font-weight: normal;
	margin-bottom: 10px;
}


/*
animations
*/
.cntl-bar-fill,.cntl-content,.cntl-image {
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	transition: all 500ms ease;
}

.cntl-state:nth-child(2n+2).cntl-animate .cntl-content {
	margin-right:0%;
}

.cntl-animate .cntl-content {
	opacity:1;
	margin-left:0%;
}

.cntl-animate .cntl-image {
	opacity:1;
}




/* mobile support */

@media (max-width: 600px) {

	.cntl-bar {
		left:auto;
		right: 37px;
	}

	.cntl-content {
		width:80%;
		float:none;
	}
	.cntl-state:nth-child(2n+2) .cntl-content {
		margi-right:0%;
		float:none;
	}

	.cntl-image {
		width:80%;
	}

	.cntl-state:nth-child(2n+1) .cntl-image {
		float:none;
	}

	.animate .cntl-content {
		margin-left: 2%;
	}

	.cntl-icon {
		left: auto;
		right: 0;
	}

}
