p{font-weight:400;font-size:18px;}
ul{
font-weight:300;font-size:17px;

}
.mimg:after{
	content:'';
    background:url('../img/main.jpg');
    width:100%;
	height:100%;
    position:absolute;
    top:0;
    left:0;
    opacity:0.4;
}

b{color: #ab4747;}
.card {
    position: relative;
    overflow: hidden;
    margin: .5rem 0 1rem 0;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 7px;
    background-clip: padding-box;
	z-index:10;
}

.card .card-image {
    position: relative;
    overflow: hidden;
	
}

.card .card-image img{
   max-height:100%;
   max-width: auto;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.boxes .card {
    cursor: pointer;
}

.boxes .card-image {
    height: 250px;
    max-height: 250px;
}

.card .card-content {
	
   margin-left:10px;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div{
	margin-left:auto;
	margin-right:auto;
}

.boxes .card-content {
    height: 120px;
    max-height: 120px;
}

.card .card-content h2 a {
    color: #857251;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.56;
    padding-top: 10px;
}

.card:hover {
		-ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Safari */
    transform: scale(1.1,1.1);
		-webkit-box-shadow: 10px 10px 91px 0px #857251;
-moz-box-shadow: 10px 10px 91px 0px #857251;
box-shadow: 10px 10px 91px 10px #857251;
		z-index:9999;
		border-right:1px solid transparent;
		border-bottom:1px solid transparent;
		cursor:pointer;
		background-color:#fff;
		transition-duration: .4s;
}
	
.box1{
	z-index:5;
	position: relative;
	border-radius: 5px;
	background-color:#ae5597;
	margin:5px;
	color:white;
}
.row{
	margin-top:40px;
}

.box1:hover{
	-ms-transform: scale(.3,.3); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Safari */
    transform: scale(1.03,1.03);
		-webkit-box-shadow: 2px 2px 2px 2px rgba(193,79,82,1);
-moz-box-shadow: 2px 2px 2px 2px rgba(193,79,82,1);
box-shadow: 2px 2px 2px 2px #b7b7b7;
		z-index:10;
		border-right:1px solid transparent;
		border-bottom:1px solid transparent;
		cursor:pointer;
		background-color:#ae5597;
}